body {
	background-image: url("ff8893_peace-damask.png");
}
header {
  border: white;
  border-width: thick;
  border-style: solid;
  padding: 15px;
  text-align: center;
  background-color: #FF00FF;
  margin: 25px;
}
section.newsection {
	text-align: center;

}
p#oneliner {
	font-style: Times;
}
table#table {
	background-color: #600049;
	color: white;
}
a:visited {
	color: red;

}
@media only screen and (max-device-width: 450px) {

	body {
		max-width: 450px;
	}
	img#banner {
		max-width: 100%;
	}
	}
